language: ruby
rvm:
  - "2.2.2"
sudo: true
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libmagic-dev
bundler_args: ''
script:
  - travis_retry cucumber install/install.feature
  - cucumber features